.app {
  padding: 10px;
}

.textarea {
  width: 100%;
}

.filter {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin-bottom: 10px;
}

.ticket {
  list-style: none;
  cursor: pointer;
  margin: 20px 0;
}

.tickets {
  min-height: 140px;
  margin: 50px 0;
}
